@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.navbar-link {
	@apply text-primary-500 not-italic 
}


h1 {
	@apply h1;
}

h2 {
	@apply h2;
}

a {
	@apply italic text-primary-600 hover:text-primary-400 transition-all;
}

.disabledA {
	@apply italic text-gray-400;
}