@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.navbar-button {
	@apply btn variant-filled-primary w-24 text-sm;
}


h1 {
	@apply h1;
}

h2 {
	@apply h2;
}

a {
	@apply italic text-primary-600 hover:text-primary-400 transition-all;
}